<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<style type="text/css">
.table_container{
	max-width:600px !important;
}
body{ margin:0; background:#f5f5fa; padding:15px; }
p{font-size:14px; font-weight:400; color:#333333; line-height:28px; }
@media only screen and (max-width: 640px){
	body{width:auto !important;}
	table[class=table_container]{
		width:100% !important;
		font-size:16px !important;
		margin:20px 0 !important;
		padding:10px !important;
	}
	.logo_img{width:140px !important;}
	h4{font-size:20px !important;margin:0 !important;}
	p{font-size:16px !important;}
	span{line-height:14px !important;}
}
</style>
</head>
<body>
	
	<center>
		<table class="table_container" width="600" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff; font-family:arial; font-size:16px;">
			<tbody>
				<tr>
					<td valign="top">
						<table cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<table style="border-collapse: collapse; border: 0px none; background:#58aa55; width: 100%;" width="100%" cellspacing="0" cellpadding="8" border="0">
										<tbody>
											<tr>
												<td align="center" height="40">
													<img src="{{baseURL}}/public/img/logo.png" width="100%" border="0" alt="" style="width:180px;">
												</td>
											</tr>
										</tbody>
									</table>
								</tr>
								
								<tr>
									<td align="center">
										<table style="border-collapse: collapse; border:0px none; text-align: center; color: #000000;" width="100%" cellspacing="0" cellpadding="8" border="0">
											<tbody>
												<tr>
													<td align="center">
														<img src={{casinoImagePath}} width="100%" border="0" alt="CasinoFeaturedImage" style="width:190px;"/>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center">
										<table style="border-collapse:collapse; background-color: transparent; border: 0px none; color:#000000; width:100%; opacity:1;" width="100%" cellspacing="0" cellpadding="10" border="0">
											<tbody>
												<tr>
													<td>
														<h6 style="text-transform:uppercase;color:#000000; font-size:20px; margin:0px; text-align:center;"><strong>New Casino added!</strong></h6>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>										
								<tr>
									<td align="center">
										<table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="8" border="0">
											<tbody>
												<tr>
													<td align="left">
														<p style="font-size:14px; color: #000000; margin-top:0; margin-bottom: 10px; line-height:20px; text-align: center;">Please click on the button to view.</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								 
								<tr>
									<td align="center">
										<table style="border-radius:0px; text-align: center; width:140px" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="8ec940">
											<tbody>
												<tr>
													<td>
														<a href={{newCasinoLink}} style="background-color:#58aa55; display: block; text-decoration: none; color: #ffffff; font-size: 12px; font-weight:700; letter-spacing: 1px; padding: 10px 20px;" target="_blank">Visit Now</a>
													</td>
												</tr>
											</tbody>
										</table>
									</td>											
								</tr>
																
								<tr>
									<td height="40">
									</td>
								</tr>
								<tr>
									<td align="center">												
										<table style="border-collapse: collapse; border:0px none; background:#033a26; width: 100%;" height="40" width="100%" cellspacing="0" cellpadding="8" border="0">
											<tbody>
												<tr>
													<td align="center">
														<p style="margin:0; font-size:13px; line-height:14px; color:#fff;">2021 © <a href="https://riskivapaa.com/" style="color: white; text-decoration: none">riskivapaa.com</a></p>
													</td>
												</tr>												
											</tbody>
										</table>
									</td>
								</tr>								
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</center>		
</body>
</html>